
<h1>Hello! Welcome to your To-Do list. </h1>



<div class="container">
  <div class="row">
    <div class="col-4">
      <p><strong>What do you want to do?</strong></p>

      <form class="" action="/create" method="post">
        <input class="left-pane-input" type="text" name="titulo" placeholder="Name of the new task">
        <input class="left-pane-btn" type="submit" name="" value="Create a new task">
      </form>

      <form class="" action="/find" method="post">
        <input class="left-pane-input" type="text" name="id" placeholder="Task's id">
        <input class="left-pane-btn" type="submit" name="" value="Find task">
      </form>

    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h2>To do </h2>
              <% @tareas.each do |tarea| %>
                <table class="">
                  <% if tarea["done"]==false %>
                    <hr>
                    <tr>
                      <th> <p> <span>Title:</span> </p> </th>
                      <td> <%=  tarea["title"] %> </td>
                    </tr>
                    <tr>
                      <th> <p> <span>ID:</span> </p> </th>
                      <td> <%=  tarea["id"] %> </td>
                    </tr>
                    <tr>
                      <th> <p> <span>Done:</span> </p> </th>
                      <td> <%=  tarea["done"] %> </td>
                    </tr>
                    <tr>
                      <th> <p> <span>Creation date:</span> </p> </th>
                      <td> <%=  tarea["created_at"] %> </td>
                    </tr>
                    <tr>
                      <th> <p> <span>Updateted at:</span> </p> </th>
                      <td> <%=  tarea["updated_at"] %> </td>
                    </tr>
                    <tr>
                      <td class="buttons" colspan="2">
                        <!-- <br> -->
                        <form action="/complete?id=<%= tarea['id'] %>" method="post">
                          <!-- <input type="hidden" name="_method" value="DELETE"/> -->
                          <input type="submit" value="Complete task" class="btn btn-outline-warning">
                        </form>
                        <form action="/delete?id=<%= tarea['id'] %>" method="post">
                          <!-- <input type="hidden" name="_method" value="delete"/> -->
                          <input type="submit" value="Delete task" class="btn btn-outline-warning">
                        </form>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
          <hr>
        </div>
        <div class="col">
          <h2>Done</h2>
            <% @tareas.each do |tarea| %>
              <table class="">
                <% if tarea["done"]==true %>
                <hr>
                <tr>
                  <th> <p> <span>Title:</span> </p> </th>
                  <td> <%=  tarea["title"] %> </td>
                </tr>
                <tr>
                  <th> <p> <span>ID:</span> </p> </th>
                  <td> <%=  tarea["id"] %> </td>
                </tr>
                <tr>
                  <th> <p> <span>Done:</span> </p> </th>
                  <td> <%=  tarea["done"] %> </td>
                </tr>
                <tr>
                  <th> <p> <span>Creation date:</span> </p> </th>
                  <td> <%=  tarea["created_at"] %> </td>
                </tr>
                <tr>
                  <th> <p> <span>Updateted at:</span> </p> </th>
                  <td> <%=  tarea["updated_at"] %> </td>
                </tr>
                <tr>
                  <td class="buttons" colspan="2">
                    <br>
                    <form action="/delete?id=<%= tarea['id'] %>" method="post">
                      <!-- <input type="hidden" name="_method" value="DELETE"> -->
                      <input type="submit" value="Delete task" class="btn btn-outline-warning">
                    </form>
                  </td>
                </tr>
                <% end %>
              </table>
            <% end %>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
